html,body{padding:0;margin:0;}html{font-size:1em;}body{font-size:100%;}a img,:link img,:visited img{border:0;}
p{padding:0;margin:0;font-family:Tahoma,Geneva,sans-serif;color:#515151;margin-bottom:10px;}
a{color:#00b4ff;text-decoration:none;outline:none;}
a:hover{text-decoration:underline;}
.hidden{display:none;}
.right{float:right;}
#mc{width:524px;margin:50px auto 0;}
#f{position:absolute;bottom:0;width:100%;background:#eee;border-top:1px solid #e5e5e5;}
#fc{margin:30px auto;width:524px;}
#fc p{color:#9b9b9b;font-size:.75em;}
#fc p.right{text-align:right;}
#tagline{text-align:right;font-size:.75em;}
.uh-oh{margin-top:75px;}

#controls{margin-top:75px;height:52px;overflow:hidden;width:100%;position:relative;}
#ctrl-play,#ctrl-pause{text-indent:-9999px;height:52px;width:51px;cursor:pointer;background:url('/ui/images/controls-sprite.png') no-repeat;}
#ctrl-play{background-position:0 0;}
#ctrl-pause{background-position:0 -52px;}
.band-info{position:absolute;left:60px;top:5px;width:370px;}
.band-info p{width:370px;overflow:hidden;white-space:nowrap;display:block;}
#album-image { float:left; margin-right: 10px; }
	#album-image img { height: 42px; }
.band-more{position:absolute;right:0;top:5px;}
.band-more p{text-align:right; font-size: 10px;}